build/
build/*
**/astroflow.egg-info/*
lingh/**
frbcand/**
.cache
CMakeUserPresets.json
*.so
python/*.so
tests/**/*.fil
!tests/FRB180417.fil
*png
/python/*png
/python/**/*pyc
*pyc
/python/__pycache__/*
.vsocde/*
.vscode
.ccls-cache
compile_commands.json
.clangd
*.pth
*swp
*.gz
*.fits
ql/*
*json
**/*.nbc
**/*.nbi
**/*.pt
*.bad_chans
*.log
*.log.*
*.txt
*.csv
*.yaml
**/*png
