build/
build/*
.cache
CMakeUserPresets.json
*.so
python/*.so
tests/**/*.fil
!tests/FRB180417.fil
*png
/python/*png
/python/**/*pyc
*pyc
/python/__pycache__/*
.vsocde/*
.vscode
.ccls-cache
compile_commands.json
.clangd
